@charset "UTF-8";
/* CSS Document */
/*----------------------------------------
	BASE
----------------------------------------*/
/*--- key color ---*/
/*--- assets color ---*/
/*--- font size ---*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, del, ins, em, img, hr, q, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, object {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0 auto;
  text-align: left;
  font-family: YuGothic,'游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,"ＭＳ ゴシック","Osaka−等幅",sans-serif;
  font-size: 86%;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  color: #333333;
  background: #ffffff url("/img/common/bg.gif") 0 0 repeat;
  position: relative;
  letter-spacing: 1;
}

/*----- sfari&chrome font-size setting ----- */
html[xmlns*=""]:root body {
  font-size: 86%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    font-size: 86%;
  }
}
/*----- テキスト選択時の色変更 ----- */
::-moz-selection {
  background: #beb188;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #beb188;
  color: #ffffff;
  text-shadow: none;
}

section, article, hgroup, header, footer, nav, aside, figure, mark, time {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

.noObj {
  display: none;
}

a {
  color: #927e40;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul li {
  list-style-type: none;
}

textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select {
  font-size: 1em;
}

.heightClear {
  font-size: 0;
  line-height: 0;
}

.linkIcon {
  padding-left: 10px;
  background: url("/img/common/link_icon.png") left center no-repeat;
}

/*----------------------------------------
	HEADER
----------------------------------------*/
header {
  width: 100%;
  min-width: 980px;
  background-color: #fff;
  line-height: 1.6;
}
header .table {
  display: table;
  width: 100%;
  clear: both;
}
header .table .tableRow {
  display: table-row;
}
header .table .tableRow .tableCell {
  display: table-cell;
  vertical-align: top;
}
header .table .tableRow .tableCell p {
  padding: 0 15px;
}
header .table .tableRow .headerLogo {
  width: 324px;
}
header .table .tableRow .headerLogo h1 {
  padding: 12px 0 13px 20px;
}
header .table .tableRow .headerLogo h1 img {
  width: 100%;
}
header .table .tableRow .headerNav {
  text-align: right;
  overflow: hidden;
  padding-top: 36px;
}
header .table .tableRow .headerNav .langeage {
  text-align: right;
  padding: 24px 20px 15px 0;
  line-height: 0;
  overflow: hidden;
}
header .table .tableRow .headerNav .langeage li {
  width: 73px;
  float: right;
}
header .table .tableRow .headerNav .langeage li a {
  display: block;
}
header .table .tableRow .headerNav .langeage li img {
  width: 100%;
}
header .table .tableRow .headerNav .navTable {
  float: right;
  display: table;
}
header .table .tableRow .headerNav .navTable .navTableRow {
  display: table-row;
}
header .table .tableRow .headerNav .navTable .navTableRow .navTableCell {
  display: table-cell;
}
header .table .tableRow .headerNav .navTable .navTableRow .navTableCell p {
  padding: 0 15px;
}
header .table .tableRow .headerNav .navTable .navTableRow .navTableCell p a {
  font-size: 96%;
  display: block;
  color: #555555;
}
header .table .tableRow .headerNav .navTable .navTableRow .navTableCell p a:hover, header .table .tableRow .headerNav .navTable .navTableRow .navTableCell p a:active {
  text-decoration: none;
}
header .table .tableRow .headerNav .navTable div.navTableRow div.navTableCell:last-child p {
  padding-right: 20px;
}

/*----------------------------------------
	NAVI
----------------------------------------*/
#navi {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#navi li {
  float: left;
  padding: 0 20px;
  font-size: 86%;
  background: url("/img/common/dot_line.gif") 0 0 repeat-y;
}
#navi li.firstNavi {
  padding-left: 0;
  background: none;
}
#navi li p {
  padding: 5px 2px;
}
#navi li p a {
  color: #333333;
}
#navi li p.naviCarent {
  color: #927e40;
  border-bottom: solid 3px #beb188;
}
#navi li p.naviCarent a {
  color: #927e40;
}

/*----------------------------------------
	CONTINUER
----------------------------------------*/
#continuer {
  width: 100%;
  overflow: hidden;
}
#continuer h2 {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

/*----------------------------------------
	TOPICPATH
----------------------------------------*/
#topicPath {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 86%;
}
#topicPath a {
  color: #333333;
}

/*----------------------------------------
	FOOTER
----------------------------------------*/
footer {
  letter-spacing: 0.05em;
}
footer #footerNavi {
  background-color: #ffffff;
  padding-bottom: 60px;
}
footer #footerNavi dl {
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
footer #footerNavi dl dd {
  width: 25%;
  overflow: hidden;
  float: left;
}
footer #footerNavi dl dd .footerTitle {
  padding: 0 10px 20px 0;
  font-weight: bold;
  font-size: 100%;
  color: #333333;
  line-height: 1.6;
}
footer #footerNavi dl dd ul {
  width: 192px;
  overflow: hidden;
}
footer #footerNavi dl dd ul li {
  padding: 0 10px 12px 0;
  text-align: left;
  font-size: 86%;
  line-height: 1.4;
}
footer #footerNavi dl dd ul li a {
  color: #555555;
}
footer #footerNavi dl dd ul li a:hover, footer #footerNavi dl dd ul li a:active {
  text-decoration: none;
}
footer #footerNavi dl#footerFirstTable {
  padding-top: 80px;
}
footer #footerNaviSecond {
  padding: 1px 0;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  background: #ffffff;
  line-height: 1.6;
}
footer #footerNaviSecond #footerNaviSecondBox {
  width: 960px;
  margin: 0 auto;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable {
  display: table;
  width: 100%;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow {
  display: table-row;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondLeft {
  overflow: hidden;
  float: left;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondLeft p {
  float: left;
  padding-right: 30px;
  font-size: 86%;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondLeft p a {
  color: #555555;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight {
  float: right;
  overflow: hidden;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight p {
  float: left;
  font-size: 86%;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerContact {
  margin-right: 1px;
  background-color: #009b3f;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerContact a {
  padding: 15px 45px;
  display: block;
  color: #ffffff;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerContact a:hover, footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerContact a:active {
  text-decoration: none;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerPageTopBtn {
  background-color: #00a8b2;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerPageTopBtn a {
  padding: 15px 10px;
  display: block;
  color: #ffffff;
}
footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerPageTopBtn a:hover, footer #footerNaviSecond #footerNaviSecondBox .footerTable .footerTableRow .footerTableCell .footerNaviSecondRight #footerPageTopBtn a:active {
  text-decoration: none;
}
footer #footerCopyRight {
  padding: 50px 0 50px;
  width: 100%;
  min-width: 960px;
  background: #ffffff;
  font-size: 78%;
  line-height: 1.8em;
  text-align: center;
}

/*----------------------------------------
	MARGIN & PADDING
----------------------------------------*/
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pt55 {
  padding-top: 55px;
}

.pt60 {
  padding-top: 60px;
}

.pt65 {
  padding-top: 65px;
}

.pt70 {
  padding-top: 70px;
}

.pt75 {
  padding-top: 75px;
}

.pt80 {
  padding-top: 80px;
}

.pt85 {
  padding-top: 85px;
}

.pt90 {
  padding-top: 90px;
}

.pt95 {
  padding-top: 95px;
}

.pt100 {
  padding-top: 100px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl50 {
  padding-left: 50px;
}

.pt55 {
  padding-left: 55px;
}

.pt60 {
  padding-left: 60px;
}

.pt65 {
  padding-left: 65px;
}

.pt70 {
  padding-left: 70px;
}

.pt75 {
  padding-left: 75px;
}

.pt80 {
  padding-left: 80px;
}

.pt85 {
  padding-left: 85px;
}

.pt90 {
  padding-left: 90px;
}

.pt95 {
  padding-left: 95px;
}

.pt100 {
  padding-left: 100px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.pr50 {
  padding-right: 50px;
}

.pr55 {
  padding-right: 55px;
}

.pr60 {
  padding-right: 60px;
}

.pr65 {
  padding-right: 65px;
}

.pr70 {
  padding-right: 70px;
}

.pr75 {
  padding-right: 75px;
}

.pr80 {
  padding-right: 80px;
}

.pr85 {
  padding-right: 85px;
}

.pr90 {
  padding-right: 90px;
}

.pr95 {
  padding-right: 95px;
}

.pr100 {
  padding-right: 100px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb55 {
  padding-bottom: 55px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb65 {
  padding-bottom: 65px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb85 {
  padding-bottom: 85px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb95 {
  padding-bottom: 95px;
}

.pb100 {
  padding-bottom: 100px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}
