@charset "utf-8";
#greetingsInner {
    .business_philosophy_layout {
        h3 {
            padding-bottom: 30px;
        }
        .keyvisual {
            padding-bottom: 50px;
        }
        .detailBox {
            display: block;
            width: 100%;
            h4 {}
            dl.bpDetail {
                display: block;
                width: 100%;
                padding-bottom: 40px;
                dt {
                    font-size: 18px;
                    font-weight: bold;
                }
                dd {
                    font-size: 14px;
                    padding-left: 16px;
                    position: relative;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '\02022';
                    }
                }
                &:first-of-type{
                     padding-top: 20px;
                }
                &:last-of-type {
                    padding-bottom: 0;
                }
            }
        }
    }
}